/* Zera o scroll do navegador e trava a tela */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Isso remove a barra de rolagem do site */
  font-family: 'Inter', sans-serif;
}

/* Deixa a barra de rolagem da lateral (terreiros) mais bonita */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #7d7dbf;
  border-radius: 10px;
}